extends ../layout

block content
  p.lead.text-center= title

  hr

  if codenames.length
    div.list-group
      each codename in codenames
        a.list-group-item.list-group-item-action(href="/codenames/" + codename.id) #{codename.name}
  else
    div.list-group
      p.text-center Inga kodnamn ännu.

  form.mt-3(method="get" action="/codenames/create/")
    div.row
      div.col
        input.form-control(type="text", name="name", autofocus, required)
      div.col-md-4.col-5
        input.btn.btn-primary.mb-2.w-100(type="submit", value="Nytt kodnamn")

  hr

  if deletedCodenames.length
    div.list-group
      each codename in deletedCodenames
        a.list-group-item.list-group-item-action(href="/codenames/" + codename.id) #{codename.name}
  else
    div.list-group
      p.text-center Inga raderade kodnamn ännu.