extends layout

block content
  h1.text-center= title
  p.lead.text-center This project is build for private preference and used for work purposes.
  p.text-center It is an interface for storing data into database and user can create account and store codenames. Each codename is created with one manager and one customer. 
