extends ../layout

block content
  p.lead.text-center= title

  hr

  if managers.length
    div.list-group
      each manager in managers
        a.list-group-item.list-group-item-action(href="/managers/edit/" + manager.id) #{manager.name}
  else
    div.list-group
      p.text-center No managers yet

  form.mt-3(method="get" action="/managers/create/")
    div.row
      div.col
        input.form-control(type="text", name="name", autofocus, required)
      div.col-md-4.col-5
        input.btn.btn-primary.mb-2.w-100(type="submit", value="Ny agent")