extends ../layout

block content
  p.lead.text-center= title

  hr

  if managers
    div.list-group
      each manager in managers
        a.list-group-item.list-group-item-action(href="/managers/edit/" + manager.id) #{manager.name}
  else
    div.list-group
      p.text-center No managers yet

  form.form-inline.mt-3(method="get" action="/managers/create/")
    div.form-group.mb-2.pr-sm-3.w-75
      input.form-control.w-100(type="text", name="name", autofocus, required)

    input.btn.btn-primary.mb-2.w-25(type="submit", value="Create manager")
