extends ../layout

block content
  p.lead.text-center= title
  p.text-center Welcome to #{title}
  form.form-group(name="login", method="post")
      div.form-input
        label Username
        input.form-control(type="text", name="username")

      div.form-input.mt-2
        label Password
        input.form-control(type="password", name="password")

      div.form-input.mt-2
          input.btn.btn-primary(type="submit", value="Login")
