extends ../layout

block content
  p.lead.text-center= title

  hr

  if nicknames.length
    div.list-group
      each nickname in nicknames
        a.list-group-item.list-group-item-action(href="/nicknames/edit/" + nickname.id) #{nickname.name}
  else
    div.list-group
      p.text-center Inga smeknamn än

  form.mt-3(name="create", method="post")
    div.row
      div.col
        input.form-control(type="text", name="name", autofocus, required)
      div.col-md-4.col-5
        input.btn.btn-primary.mb-2.w-100(type="submit", value="Nytt smeknamn")
